<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GLRP - <%= article.name %></title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <h1><%= article.name %></h1>
    <p><%= article.content %></p>
    <embed src="/Essay.pdf" width="100%" height="100%" type="application/pdf">
</body>
</html>