body {
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    font: 16px/1.5 sans-serif;
}

.header {
    display: flex;
    flex-flow: column;
    text-align: center;
    height: 100vh;
    width: 100vw;
    /* background-color: red; */
}

.header .row.logo {
    flex: 0 1 auto;
}

.header .row.desc {
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    position: relative;
}

.header .row.desc div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header .row.arrow {
    flex: 0 1 40px;
}

a{
    color: #FFFFFF;
    text-decoration: none;
}
a:hover{
    color: #FFFFFF;
}

.articles {
    padding: 20%;
}

.articles h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.articleDiv{
    margin: 10px;
    padding: 10px;
    background-color: rgb(38, 38, 38);
    border-radius: 10px;
    transition: background-color 200ms;
    cursor: pointer;
}

.articleDiv div{
    display: inline;
}

.articleAuthor {
    float: right;
    color: rgba(255, 255, 255, 0.5);
}

.articleDiv:hover {
    background-color: rgb(138, 122, 77);
    transition: background-color 200ms;
    text-decoration: underline;
}

/* For mobile phones: */
@media (max-width: 768px) {
    .header {
        width: 100vw;
    }
    .logo {
        max-width: 100vw;
    }
    .articles{
        padding: 5%;
    }
}